* {
    font-family: 'Post No Bills Jaffna SemiBold', 'Kaushan Script', sans-serif;
    background-color: #F2EBAF;
}

*,
*::before
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header-text {
    font-size: 1.5rem;
}

#grid-container {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(16, 1fr));*/
    /*grid-template-rows: repeat(auto-fit, minmax(1rem, 1fr));*/
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
    grid-auto-columns: minmax(5rem, 1fr);
    grid-auto-rows: minmax(4.9rem, 1fr);
    border: 1px solid black;
    width: 95%;
    max-width: 70rem;
    height: 70rem;
    background-color: white;
    overflow: hidden;
}

.one {
    background-color: peachpuff;
    border: 1px solid black;
}

.option-area {
    display: flex;
    width: min(95%, 90rem);
    height: 7rem;
    background: linear-gradient(180deg, rgba(34,193,195,0.5) 0%, rgba(255,222,150,1) 50%);
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 1000px;
    box-shadow: -5px 10px 5px 5px rgba(253,187,45,0.5);
    gap: 5rem;
}

#fill-color {
    display: flex;
    position: relative;
    gap: 1rem;
    padding: 2rem;
    background-color: transparent;
}

#color-box {
    margin-top: 5px;
    background-color: transparent;
    width: 100px;
    height: 50px;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
  }

#color-box:hover {
    transform: scale(1.1);
}

#color-box:active {
    transform: scale(0.9);
}

#option-area-text {
    margin-top: 10px;
    background-color: transparent;
}

#rainbow {
    display: flex;
    position: relative;
    gap: 1.5rem;
    background: transparent;
}

.rainbow-btn {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    color: transparent;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.rainbow-btn:hover {
    transform: scale(1.1);
}

.rainbow-btn:active {
    transform: scale(0.9);
}

#rainbow-text {
    background: transparent;
    margin-top: 7px;
}

#incremental-grey {
    display: flex;
    position: relative;
    padding: 1rem;
    background: transparent;
    gap: 1.5rem;
}
  
.grey-inc {
    background: linear-gradient(180deg, rgba(193,188,183,1) 50%, rgba(158,153,148,0.6) 80%);
    padding: 10px 20px;
    border: none;
    align-self: center;
    font-size: 16px;
    color: transparent;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.grey-inc:hover {
    transform: scale(1.1);
}

.grey-inc:active {
    transform: scale(0.9);
}

#grey-text {
    background: transparent;
    margin-top: 6px;
}

#grid-changer {
    display: flex;
    background: transparent;
    gap: 1rem;
    padding: 20px;
}

.slider {
    -webkit-appearance: none;
    position: relative;
    padding-left: 20px;
    overflow: hidden;
    opacity: 0.7;
    transition: opacity .2s;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ff8a00;
    background-color: #ff8a00;
    transition: .5s ease-in-out;
    top: -5px;
}

.slider::-webkit-slider-runnable-track {
    background-color: aqua;
    position: relative;
    height: 10px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.3);
    opacity: 0.7;
    background-image: linear-gradient(to right, #ff8a00, #e52e71);
}

.slider:hover {
    opacity: 1;
    transform: scale(1.1);
}

#slider-text {
    background-color: transparent;
    padding: 0.5rem;
}

#footer-text {
    background-color: transparent;
    border: none;
}

.contact {
    font-size: 1.5em;
    text-decoration: none;
    text-shadow: 2px 2px 5px black;
    background-color: transparent;
    border: none;
}

.contact:visited {
    color: black;
}



  





