* {
    font-family: 'Post No Bills Jaffna SemiBold', 'Kaushan Script', sans-serif;
    background-color: #F2EBAF;
}

*,
*::before
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header-text {
    font-size: 1.5rem;
}

#grid-container {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(16, 1fr));*/
    /*grid-template-rows: repeat(auto-fit, minmax(1rem, 1fr));*/
    grid-template-columns: repeat(auto-fill, minmax(4.9rem, 1fr));
    grid-template-rows: repeat(16, 1fr);
    border: 1px solid black;
    width: max(95%, 70rem);
    height: 50rem;
    background-color: white;
    overflow: hidden;
}

.one {
    background-color: peachpuff;
    width: 5rem;
    height: 4.9rem;
    border: 1px solid black;
}

.option-area {
    display: flex;
    width: min(95%, 100rem);
    height: 7rem;
    background: linear-gradient(180deg, rgba(34,193,195,0.5) 0%, rgba(255,222,150,1) 50%);
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 1000px;
    box-shadow: -5px 10px 5px 5px rgba(253,187,45,0.5);
    gap: 5rem;
}

#fill-color {
    display: flex;
    gap: 1rem;
    padding: 2rem;
    background-color: transparent;
}

#color-box {
    margin-top: 5px;
    background-color: transparent;
    width: 100px;
    height: 50px;
    cursor: pointer;
    border: none;
  }

#option-area-text {
    margin-top: 10px;
    background-color: transparent;
}

#rainbow {
    display: flex;
    gap: 1.5rem;
    background: transparent;
}

.rainbow-btn {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    color: transparent;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}

#rainbow-text {
    background: transparent;
    margin-top: 7px;
}

#incremental-grey {
    display: flex;
    padding: 1rem;
    background: transparent;
    gap: 1.5rem;
}
  
.grey-inc {
    background: linear-gradient(180deg, rgba(193,188,183,1) 50%, rgba(158,153,148,0.6) 80%);
    padding: 10px 20px;
    border: none;
    align-self: center;
    font-size: 16px;
    color: transparent;
    border-radius: 20px;
    cursor: pointer;
}

#grey-text {
    background: transparent;
    margin-top: 6px;
}

#grid-changer {
    display: flex;
    background: transparent;
    gap: 1rem;
    padding: 20px;
}

.slider {
    position: relative;
    padding-left: 20px;
    overflow: hidden;
    opacity: 0.7;
    transition: opacity .2s;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: rgba(255,222,150,1);
    transition: .3s ease-in-out;
}

.slider:hover {
    opacity: 1;
}

#slider-text {
    background-color: transparent;
    padding: 0.5rem;
}


  





